@import "./content";

* {
  box-sizing: border-box;
}

html {
  font-family: var(--body-font);
  font-size: var(--root-font-size);
  color: var(--color-primary-darkest);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

section.colors {
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  div {
    height: 50px;
  }

  div:nth-child(1) {
    background-color: var(--color-primary-darkest);
  }

  div:nth-child(2) {
    background-color: var(--color-primary-dark);
  }

  div:nth-child(3) {
    background-color: var(--color-primary);
  }

  div:nth-child(4) {
    background-color: var(--color-primary-light);
  }

  div:nth-child(5) {
    background-color: var(--color-primary-lightest);
  }

  div:nth-child(6) {
    background-color: var(--color-secondary-darkest);
  }

  div:nth-child(7) {
    background-color: var(--color-secondary-dark);
  }

  div:nth-child(8) {
    background-color: var(--color-secondary);
  }

  div:nth-child(9) {
    background-color: var(--color-secondary-light);
  }

  div:nth-child(10) {
    background-color: var(--color-secondary-lightest);
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-secondary-dark);
  font-family: var(--header-font);
  font-weight: lighter;
}

a {
  text-decoration: none;
}

section.nav-links {
  display: grid;
  justify-items: right;
  padding: 100px 20px;

  a {
    font-family: var(--header-font);
    font-size: 1.3em;
    color: var(--color-secondary-light);
    text-shadow: 1px 1px 0 var(--color-secondary-dark);
    text-decoration: none;

    &:hover {
      color: var(--color-secondary);
      text-shadow: 2px 2px 0 var(--color-secondary-darkest);
    }
  }
}

div.layout {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  a.header-title {
    display: inline-block;
    text-decoration: none;

    h1 {
      color: var(--color-secondary-dark);
      margin: 0;
      font-size: 1.75em;
      line-height: var(--taproot-header-height);
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
    }

    &:hover > h1 {
      color: var(--color-secondary-darkest);
    }
  }

  > main {
    grid-row: 2;
    @include main-content;
  }

  > footer {
    background-color: var(--color-secondary-lightest);
    border-top: 2px solid var(--color-secondary);
    border-bottom: 3px solid var(--color-primary-dark);
    text-align: center;
    font-size: 0.8em;
  }
}

body.menu-open {
  overflow: hidden;
}
