html:root {
  --body-font: "Roboto Condensed", sans-serif;
  --header-font: "Lora", serif;
  --root-font-size: 22px;
  --layout-left-padding: 20px;
  --taproot-header-button-stroke-width: 7px;
  --primary-hue: 195;
  --secondary-hue: calc(var(--primary-hue) + 180);
  --primary-saturation: 70%;
  --nav-hue: var(--primary-hue);
  --color-primary-darkest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    20%
  );
  --color-primary-dark: hsl(var(--primary-hue), var(--primary-saturation), 40%);
  --color-primary: hsl(var(--primary-hue), var(--primary-saturation), 50%);
  --color-primary-light: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    60%
  );
  --color-primary-lightest: hsl(
    var(--primary-hue),
    var(--primary-saturation),
    80%
  );

  --color-secondary-darkest: hsl(
    var(--secondary-hue),
    var(--primary-saturation),
    20%
  );
  --color-secondary-dark: hsl(
    var(--secondary-hue),
    var(--primary-saturation),
    40%
  );
  --color-secondary: hsl(var(--secondary-hue), var(--primary-saturation), 50%);
  --color-secondary-light: hsl(
    var(--secondary-hue),
    var(--primary-saturation),
    60%
  );
  --color-secondary-lightest: hsl(
    var(--secondary-hue),
    var(--primary-saturation),
    80%
  );

  --split-flap-font-color: var(--color-primary-darkest);
  --split-flap-font-weight: bold;
  --split-flap-font-size: 25px;
  --split-flap-font-family: "Courier Prime", monospace;
  --split-flap-padding: 6px;
  --split-flap-border-radius: 4px;
  --split-flap-background: url(/assets/az-subtle.png)
    var(--color-secondary-lightest);
  --split-flap-separator: 1px solid var(--color-secondary-light);
  --split-flap-back-background: url(https://www.transparenttextures.com/patterns/arches.png)
    var(--color-primary-dark);

  @media (min-width: 500px) {
    --split-flap-font-size: 30px;
  }

  @media (min-width: 768px) {
    --split-flap-font-size: 50px;
  }

  @media (min-width: 1024px) {
    --split-flap-font-size: 70px;
  }
}
